name: Build

on:
    push:
        branches: [ agp_8]
    pull_request:
concurrency:
    group: build-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build:
        strategy:
            matrix:
                java: [17]
                vendor: ["microsoft", "oracle","zulu","corretto","liberica"]

        runs-on: ubuntu-latest
        timeout-minutes: 60

        steps:
            - name: Checkout
              uses: actions/checkout@v5


            - name: Set up JDK ${{ matrix.java }}
              uses: actions/setup-java@v5
              with:
                  distribution: ${{ matrix.vendor }}
                  java-version:  ${{ matrix.java }}

            - name: Execute test binary and cli
              run: |
                  ./gradlew build connectedAndroidTest
              env:
                DEVELOCITY_ACCESS_KEY: ${{ secrets.GE_TOKEN }}
