name: Build

on:
    push:
        branches: [ caching_issues]
    pull_request:
concurrency:
    group: build-${{ github.ref }}
    cancel-in-progress: false

jobs:
    build:
        strategy:
            fail-fast: false
            matrix:
                java: [17]
                vendor: ["microsoft", "oracle","zulu","corretto","liberica"]

        runs-on: ubuntu-latest
        timeout-minutes: 60

        steps:
            - name: Checkout
              uses: actions/checkout@v5


            - name: Set up JDK ${{ matrix.java }}
              uses: actions/setup-java@v5
              with:
                  distribution: ${{ matrix.vendor }}
                  java-version:  ${{ matrix.java }}

            - name: Execute test binary and cli
              run: |
                  ./gradlew build connectedAndroidTest  -Dscan.tag.${{ matrix.vendor }}
              env:
                DEVELOCITY_ACCESS_KEY: ${{ secrets.GE_TOKEN }}

            -   name: Archive Gradle transforms cache
                uses: actions/upload-artifact@v4
                if: always()
                with:
                    name: build_${{ matrix.vendor }}
                    path: /home/runner/.gradle/caches/9.2.0/transforms
                    retention-days: 7
